<p id="notice"><%= notice %></p>

<h1>Кадры</h1>

<%= render partial: "employees/list", locals: {employees: @employees, control_actions: true} %>

<br>

<%= link_to 'Новый кадр', new_employee_path %>
