<p>
  <strong>Телефон:</strong>
  <%= contacts[:phone_number_formatter] %>
</p>

<p>
  <strong>Email:</strong>
  <%= contacts[:email] ? 'не предоставлен' : mail_to(contacts[:email], contacts[:email]) %>
</p>