<p id="notice"><%= notice %></p>

<h1>Все вакансии</h1>

<%= render partial: "vacancies/list", locals: {vacancies: @vacancies, control_actions: true} %>

<br>

<%= link_to 'Добавить новую вакансию', new_vacancy_path %>
