<div class="row">
  <div class="col-lg-6">
    <h1>Кадры в поиске</h1>
    <%= render partial: "employees/list", locals: {employees: @employees, control_actions: false} %>
  </div>
  <div class="col-lg-6">
    <h1>Активные вакансии</h1>
    <%= render partial: "vacancies/list", locals: {vacancies: @vacancies, control_actions: false} %>
  </div>
</div>